body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

pre {
	background: #000;
	border-radius: 10px;
	color: #fff;
	padding: 10px;
}

.clComponentBlock {
	margin: 0 0 30px;
}

.clComponentHeader {
	border-bottom: 1px solid #999;
	margin: 0 0 10px;
}
