<input class="primaryButton" type="submit" value="Submit" />
<button class="primaryButton">Button</button>
<a href="#" class="primaryButton">Link</a>
<input class="secondaryButton" type="submit" value="Submit" />
<button class="secondaryButton">Button</button>
<a href="#" class="secondaryButton">Link</a>
<input class="tertiaryButton" type="submit" value="Submit" />
<button class="tertiaryButton">Button</button>
<a href="#" class="tertiaryButton">Link</a>
