{{!
The global header for the site, including the navigation menu.

Used on all pages within the site.

Data
====
siteName      {String}  The name of the website, displayed across at the top of
                        the header.
navItems      {Array}   The items to be displayed in the navigation menu.
navItems.href {String}  The URL the navigation item points to.
navItems.text {String}  The text to be displayed for the navigation item.
}}

<header>
	<p class="siteName">{{siteName}}</p>
	<nav>
		<ul>
			{{#each navItems}}
				<li>
					<a href="{{href}}">{{text}}</a>
				</li>
			{{/each}}
		</ul>
	</nav>
</header>
