<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{> product name="Baked Beans" price="£0.79" promotions="Buy 1 Get 1 FREE|Save 26p"}}
{{#codeBlock this}}
	{{> product name="Baked Beans" price="£0.79" promotions="Buy 1 Get 1 FREE|Save 26p"}}
{{/codeBlock}}
