<div class="clLibraryHeader">
	<h1>{{title}}</h1>
</div>
<div class="clLibraryMenu">
	<h2>Components</h2>

	{{! Build a menu for jumping to our components }}
	<ul>
		{{#each components}}
		<li>
			<a href="#{{id}}">{{name}}</a>
		</li>
		{{/each}}
	</ul>
</div>

<div class="clLibraryBody">
	{{! Loop through and display our components using the component partial}}
	{{#each components}}
		{{> clComponent}}
	{{/each}}
</div>