<div class="clLibraryHeader">
	<h1>{{title}}</h1>
</div>
{{#with component}}
	<div class="clLibraryMenu">
		<h2>Variations</h2>

		{{! Build a menu for jumping to our variations }}
		<ul>
			{{#each variations}}
			<li>
				<a href="#{{../id}}{{@index}}">{{variationName}}</a>
			</li>
			{{/each}}
		</ul>
	</div>

	<div class="clLibraryBody">
		{{! Loop through and display our components using the component partial}}
		{{#each variations}}
			{{> clVariation id=../id partial=../partial index=@index}}
		{{/each}}
	</div>
{{/with}}
