.clBody {
  margin: 0;
  padding: 0; }

.clLibraryHeader {
  background: #fff;
  border-bottom: 2px solid #555;
  padding: 10px; }
  .clLibraryHeader h1 {
    color: #222;
    font-size: 2em;
    font-weight: bold;
    text-align: center; }

.clLibraryBody {
  padding: 10px; }

.clLibraryMenu {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 0 0 30px;
  padding: 10px; }
  .clLibraryMenu h2 {
    margin: 0 0 1em; }
  .clLibraryMenu a {
    color: #222; }
  .clLibraryMenu li {
    font-size: 1em;
    margin: .25em; }

.clCode {
  background: #000;
  border-radius: 10px;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  line-height: 1.4;
  margin: 0 0 10px;
  max-height: 300px;
  overflow: auto;
  padding: 10px; }

.clJs .clCodeHidden {
  display: none; }

.clShowCode {
  font-size: 1em; }

.clComponentBlock {
  margin: 0 0 30px; }

.clComponentHeader {
  margin: 0 0 10px; }
  .clComponentHeader .clComponentName {
    display: inline-block;
    margin: 0 1em 0 0; }

.clComponentDescription {
  border-bottom: 1px solid #ccc;
  margin: 0 0 10px; }

.clVariationBlock {
  margin: 0 0 10px; }

.clVariationHeader {
  background: #fff;
  margin: 0 0 10px;
  padding: 20px;
  text-align: center; }
  .clVariationHeader .clVariationName {
    display: inline-block;
    font-size: 1.285em;
    margin: 0 1em 0 0; }

.clReportBody {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 20px 20px; }

.clReportSection {
  background: #fff;
  margin: 0 0 20px;
  padding: 20px; }
