.vis {
    display: block;
    font-family: sans-serif;
    font-size: 1.6em;
}

@media(min-width: 500px) {
    .vis {
        font-size: 1.3em;
    }
}

@media(min-width: 700px) {
    .vis {
        font-size: 0.9em;
    }
}

.vis path {
    fill: none;
    stroke: steelblue;
    stroke-width: 4px;
}

.vis .axis {
    opacity: 0.6;
}

.vis .axis .tick {
    display: none;
}

.vis .domain-label {
    font-size: 0.9em;
    fill: steelblue;
}

.vis .overlay {
    fill: none;
    pointer-events: all;
}

.vis .focus {
    position: relative;
}

.vis .focus-text-background {
    fill: #333;
}

.vis .focus-text {
    font-size: 0.9em;
    fill: #eee;
}

.vis .focus circle {
    fill: none;
    stroke-width: 2.5px;
    stroke: #0c0;
}

@media(min-width: 600px) {
    .mobile-focus-controls {
        display: none;
    }
}

button {
    display: inline-block;
    width: 50%;
    text-align: center;
    background: #e0e0e0;
    border: 0;
    border-right: 1px solid white;
    padding: 1em 0;
    margin-bottom: 1em;
}
