body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	margin: 0;
}

a {
	color: #00B7FF;
}

.access {
	left: -999px;
	position: absolute;
	top: -999px;
}

main {
	margin: 0 auto;
	max-width: 920px;
	padding: 20px;
}

@import '../components/buttons/buttons';
@import '../components/header/header';
@import '../components/footer/footer';
@import '../components/paginationBar/paginationBar';
@import '../components/productList/productList';
@import '../components/productTile/productTile';
