<!DOCTYPE html>
<html class="noJs">
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/components/{{partial}}.css' />
  </head>
  <body class="clBody">
    {{{body}}}
  </body>
</html>
