{{!
The default layout for the site.

Data
====
title       {String}  The text to go into the title tag of the page. Remember,
                      each page's title should be unique so that Screen Reader
                      users can distinguish between them.
bodyId      {String}  The ID to be applied to the body tag for the page.
bodyClass   {String}  The class(es) to be applied to the body tag for the page.
headerData  {Object}  Data to be used by the header partial, as defined in
                      components/header/header.hbs.
}}

<!DOCTYPE html>
<html class="noJs">
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body {{#if bodyId}}id="{{bodyId}}"{{/if}} {{#if bodyClass}}class="{{bodyClass}}"{{/if}}>
  	{{> header headerData}}
    <main>{{{body}}}</main>
    {{> footer footerData}}
  </body>
</html>
