<!DOCTYPE html>
<html class="noJs">
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/componentLibrary.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <script type="text/javascript" src="/js/componentLibrary.js"></script>
  </head>
  <body class="clBody">
    {{{body}}}
  </body>
</html>
