<h1>Component Library</h1>
<h2>Contents</h2>

{{! Build a menu for jumping to our components }}
<nav>
	<ul>
		{{#each components}}
		<li>
			<a href="#{{id}}">{{name}}</a>
		</li>
		{{/each}}
	</ul>
</nav>

{{! Loop through and display our components using the component partial}}
{{#each components}}
	{{> component}}
{{/each}}
