.productTile {
	border: 1px solid #ccc;
	display: inline-block;
	margin: 0 10px 10px 0;
	padding: 10px;
	vertical-align: top;
	width: 200px;

	.productImage {
		background: #ccc;
		border: 1px solid #999;
		height: 150px;
		margin: 0 auto;
		width: 150px;
	}

	.price {
		font-size: 1.2em;
		font-weight: bold;
	}
}

.productTileName {
	font-size: 1.143em;
	margin: 0 0 .75em;
	text-align: center;

	a {
		color: #639;
		text-decoration: none;
	}
}
