<li class="productTile">
	<h3 class="productTileName"><a href="/pdp?productId={{id}}">{{name}}</a></h3>
	<div class="productImage"></div>
	<p class="price">{{price}}</p>
	{{#if promotions}}
		<ul class="promotions">
			{{#each promotions}}
				<li>
					<a href="#">{{this}}</a>
				</li>
			{{/each}}
		</ul>
	{{/if}}
</li>
